<div class="col-12 col-sm-6 col-xxl-4 my-2">
  <div class="card">
    {# heart #}
    <div class="heart">
      <i class="fa-regular fa-heart"></i>
    </div>

    {# image #}
    <a href="{{ path('product', { slug: drink.slug }) }}"><img src="/uploads/products/{{ drink.illustration }}" alt="{{ drink.name }}" class="img-fluid" /></a>

    {# card body #}
    <article class="card-body bg-light">
      <h2 class="card-title text-uppercase">{{ drink.name }}</h2>
      <h3 class="text-capitalize product-subtitle">{{ drink.subtitle }}</h3>

      <div class="row">
        {# description #}
        <div class="col-8 col-sm-6 col-lg-8">
          <div class="product-description mt-4 lead">{{ drink.description|raw }}</div>
        </div>
        <div class="col-4 col-sm-6 col-lg-4 d-flex align-items-end justify-content-end">
          {# price #}
          <div class="products-price text-end">
            <span class="card-price">{{ (drink.price / 100)|number_format('2', ',', '.') }}$</span>
          </div>
        </div>
      </div>

      {# button add basket #}
      <div class="col-12 text-center mt-5 mb-2">
        <a href="{{ path('add_to_cart', { id: drink.id }) }}" class="btn btn-primary btn-link">Add to basket</a>
      </div>
    </article>
  </div>
</div>
