<div class="col-12 col-sm-6 col-lg-4 col-xxl-3 my-3 card-product mx-3" id="product-{{product.id}}">
	<div
		class="card mb-5">
		{# image #}
		<a href="{{ path('app_product', { slug: product.slug }) }}">
			<img src="/uploads/products/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" loading="lazy"/></a>

		{# card body #}
		<div
			class="card-body bg-light p-4">
			{# reviews stars #}
			<div class="reviews d-flex align-items-end flex-column justify-content-end mb-4">
				{% if product.reviews|length > 0 %}
					<p class="fw-normal fs-5 text-end p-0 m-0">Average Rating:
						{{ (product.getAverageRating())|number_format(2) }}</p>
					<div class="average-rating">
						{% for i in 1..5 %}
							{% if i <= product.getAverageRating() %}
								<i class="fas fa-star positive-star"></i>
							{% else %}
								<i class="far fa-star border-star"></i>
							{% endif %}
						{% endfor %}
					</div>
				{% else %}
					<p class="text-end  fs-5 fw-normal col-12 col-sm-10 m-0 p-0 ">This product doesn't have a review yet.</p>
				{% endif %}
			</div>
			<h2 class="card-title text-uppercase">{{ product.name }}</h2>
			<p class="text-capitalize product-subtitle  m-0 p-0">
				<strong>Category:</strong>
				{{ product.category.name }}</p>
			<p class="text-capitalize product-subtitle m-0 p-0">
				<strong>Country:</strong>
				{{ product.countryProduct }}</p>
			<p class="text-capitalize product-subtitle m-0 p-0">
				<strong>Color:</strong>
				{{ product.colorProduct }}</p>

			{# description #}
			<div class="product-description mt-4 lead">{{ product.description|raw }}</div>

			{# price #}
			<div class="products-price text-end my-5">
				<span class="card-price fs-1">{{ product.pricewt|price }}</span>
			</div>

			{# button add basket #}
			<div class="col-12 text-center  my-3">
				<a href="{{ path('app_cart_add', { id: product.id }) }}" class="btn btn-primary btn-link">Add to basket</a>
			</div>
		</div>
	</div>
</div>
