<div class="col-12 col-sm-6 col-xxl-4 my-2">
  <div class="card">
    {# heart #}
    <div class="heart">
      <i class="fa-regular fa-heart"></i>
    </div>

    {# image #}
    <img src="/uploads/products/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" />

    {# card body #}
    <article class="card-body bg-light">
      <h2 class="card-title text-uppercase">{{ product.name }}</h2>

      <div class="row">
        <div class="col">
          <div class="card-text">
            Origin: <span>France</span>
          </div>
          <div class="card-text">
            Category: <span>{{ product.category }}</span>
          </div>
          <div class="card-text">
            Year: <span>2021</span>
          </div>
          <div class="card-text">
            Quatity: <span>100cl</span>
          </div>
        </div>
        <div class="col text-end">
          {# quantity #}
          <div class="d-flex flex-column align-items-end">
            <p class="card-title-quantity m-0">Quantity</p>
            <div class="btn-group" role="group" aria-label="First group">
              <button type="button" class="btn btn-light bg-white">-</button>
              <button type="button" class="btn btn-light bg-white disabled">1</button>
              <button type="button" class="btn btn-light bg-white">+</button>
            </div>
          </div>
        </div>
      </div>

      {# price #}
      <div class="products-price my-2 text-end">
        <span class="card-price">{{ (product.price / 100)|number_format('2', ',', '.') }} $</span>
      </div>

      {# button add basket #}
      <div class="col-12 text-center mt-3 mb-2">
        <a href="#" class="btn btn-primary btn-link">Add to basket</a>
      </div>
    </article>
  </div>
</div>
