<footer class="pt-5">
	<div class="text-center w-100">
		<img src="{{ asset('assets/images/logo.png') }}" alt="logo tasty drink" width="40px" class="mx-auto"/>
	</div>


	<h4 class="text-center text-white footer-title my-2">Tasty Drink Bar & Store</h4>
	<div
		class="text-center">
		<!-- divisor -->
		<div class="divisor divisor-sm"></div>
		<div class="social-networks d-flex justify-content-between mx-auto">
			<i class="fa-brands fa-facebook"></i>
			<i class="fa-brands fa-instagram"></i>
			<i class="fa-brands fa-twitter"></i>
			<i class="fa-brands fa-linkedin"></i>
		</div>

		{# SUBSCRIBE FORM  #}
		<div class=" mx-auto px-3 px-md-5 footer-subscribe">
			{{- renderSubscribeForm() -}}
		</div>

		<div class="divisor divisor-sm"></div>
	</div>
	<div>
		<ul class="nav justify-content-center d-flex flex-column align-items-center flex-lg-row">
			<li class="nav-item m-3">
				<a href="{{path('app_home')}}" class="nav-link text-primary">Home</a>
			</li>
			<li class="nav-item m-3">
				<a href="{{ path('app_our_story') }}" class="nav-link text-primary">Our Story</a>
			</li>
			<li class="nav-item m-3">
				<a href="{{ path('app_team') }}" class="nav-link text-primary">Our Team</a>
			</li>
			<li class="nav-item m-3">
				<a href="{{path('app_menu_drinks')}}" class="nav-link text-primary">Menu Drink</a>
			</li>
			<li class="nav-item m-3">
				<a href="{{path('app_menu_foods')}}" class="nav-link text-primary">Menu Foods</a>
			</li>
			<li class="nav-item m-3">
				<a href="#" class="nav-link text-primary">Shop</a>
			</li>
			<li class="nav-item m-3">
				<a href="#" class="nav-link text-primary">Contact</a>
			</li>
		</ul>

		<!-- button reservation -->
		<div class="text-center">
			<a href="{{ path('app_reservation') }}" class="btn btn-outline mt-2 mt-5 fs-4">Make reservation</a>
		</div>

		<!-- Address -->
		<div class="container w-lg-50 mt-5">
			<div class="row text-primary d-flex justify-content-center">
				<div class="col-12 mb-4 col-sm-6 col-md-6 col-lg-6 mb-6 text-center">
					<h4 class="footer-titles">Location</h4>
					<p class="text-white">34 av. du Pont</p>
					<p class="text-white">34RE3G</p>
					<p class="text-white">Vancouver</p>
				</div>

				<div class="col-12 mb-4 col-sm-6 col-md-6 col-lg-6 mb-6 text-center">
					<h4 class="footer-titles">Contact Us</h4>
					<p class="text-white">555-55554444</p>
					<p class="text-white">contact@tastydrink.com</p>
				</div>
			</div>
		</div>
		<!-- end address -->

		{# COPYRIGHT  #}
		<div class="m-auto text-white copyright text-center bg-dark py-3">
			<div class="m-auto container d-flex justify-content-between flex-column flex-lg-row">
				<span>© 2024 All rights reserved. Designed by Marcos Meneghetti</span>
				<span>Terms & Conditions</span>
				<span>Privacy Policy</span>
			</div>
		</div>
	</div>
</footer>
