<div class="py-3 bg-info">
  <div class="container d-flex justify-content-end align-items-center">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-end align-items-center my-md-0 text-small">
        <li>
          {% if app.user %}
            <i class="fa-regular fa-circle-user mx-3 fa-xl"></i>
            <p class="d-inline">Hello {{ app.user.firstname }} -</p>
            <a href="{{ path('account') }}" class="btn btn-primary btn-signOut">My account</a>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-primary btn-signOut">Log out</a>
          {% else %}
            <a href="{{ path('app_login') }}" class="mx-1 btn btn-primary mr-5 btn-signIn">Sign In</a> |
            <a href="{{ path('sign-up') }}" class="mx-1 btn btn-outline-primary btn-signOut">Sign Up</a>
          {% endif %}
        </li>
        <li>
          <i class="fa-solid fa-cart-shopping"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container d-flex justify-content-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-sm-center justify-content-sm-between px-0">
        <li class="nav-item">
          <a class="nav-link active text-center" href="{{ path('our_story') }}">Our Story</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="{{ path('team') }}">Our Team</a>
        </li>
        <li class="nav-item dropdown text-center">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bar</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-center" href="#">Menu Drinks</a>
            </li>
            <li>
              <a class="dropdown-item text-center" href="#">Menu Eats</a>
            </li>
          </ul>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="{{ path('shop') }}">Shop</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- line divisor -->
<div class="border-bottom border-primary"></div>
