{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - My shopping
{% endblock %}

{% block content %}
  <div class="mt-5">
    <h1 class="main-titles text-center">My shopping</h1>
  </div>
  {% include '_partials/flash.html.twig' %}
  <div class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">
    <p class="text-center mb-5">All the products you have added to your shoppping cart.</p>
    <div class="row d-flex flex-column flex-md-row">
      {# products #}
      <div class="col-12 col-lg-8 mx-auto">
        <div class="products wrapper wrapper-form m-0 bg-light text-black contact p-3 p-md-5">
          {# total variable #}

          {% set total = null %}
          {% for product in cart %}
            <div class="row d-flex">
              {# product #}
              <div class="col-6 col-md-6 d-flex flex-column flex-sm-row align-items-start justify-content-start">
                <img src="/uploads/products/{{ product.product.illustration }}" alt="{{ product.product.name }}" class="img-fluid" style="width:80px; height:80px" />
                <div class="card-product my-2 my-sm-0 mx-sm-4">
                  <h2 class="card-title text-uppercase text-start">{{ product.product.name }}</h2>
                  <div class="card-text text-start">
                    Origin: <span>France</span>
                  </div>
                  <div class="card-text text-start">
                    Category: <span>Red wine</span>
                  </div>
                  <div class="card-text text-start">
                    Year: <span>2021</span>
                  </div>
                  <div class="card-text text-start">
                    Quatity: <span>100cl</span>
                  </div>
                </div>
              </div>
              {# quantity and price #}
              <div class="col-6 col-md-6 d-flex flex-column flex-sm-row justify-content-between">
                {# quantity #}
                <div class="d-flex flex-column flex-sm-row align-items-start">
                  <div class="card-quantity">
                    <p class="card-title-quantity m-0">Quantity</p>
                    <div class="btn-group border border-primary" role="group" aria-label="First group">
                      <button type="button" class="btn btn-light bg-white">-</button>
                      <button type="button" class="btn btn-light bg-white disabled">{{ product.quantity }}</button>
                      <button type="button" class="btn btn-light bg-white">+</button>
                    </div>
                  </div>
                  <div class="trash-icon m-3" style="font-size: 1rem;">
                    <i class="fa-solid fa-trash-can fa-2xl"></i>
                  </div>
                </div>
                {# price #}
                <div class="products-price text-end my-3">
                  <span class="card-price">$ {{ (product.product.price / 100)|number_format('2', ',', '.') }}</span>
                </div>
              </div>
              <hr class="divison-line my-3" />
            </div>
            {% set total = total + product.product.price * product.quantity %}
          {% endfor %}
        </div>
      </div>
      {# total and subtotal #}
      <div class="col-12 col-lg-4 my-5 my-lg-0">
        <div class="products wrapper wrapper-form m-0 border border-primary text-white">
          {# total #}
          <div class="total d-flex justify-content-between">
            <p>Total of products</p>
            <p>{{ cart|length }}</p>
          </div>

          {# subtotal #}
          <div class="sub-total d-flex justify-content-between mt-3">
            <p>Subtotal</p>
            <p>$ {{ (total / 100)|number_format('2', ',', '.') }}</p>
          </div>
          {# button validate #}
          <div class="col-12 text-center">
            <button type="submit" href="#" class="w-100 btn-block mx-auto btn btn-primary btn-link my-2">Validate my cart</button>
          </div>
          {# button continue shopping #}
          <div class="col-12 text-center">
            <button type="submit" href="#" class="w-100 btn-block btn btn-outline-info bg-info mx-auto btn btn-link my-2 text-white">Continue shopping</button>
          </div>
          <p class="text-center mt-3">Shiping taxes and discout codes calculated at checkout.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
