{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Welcome
{% endblock %}

{% block carousel %}

{% endblock %}

{% block body %}
  {# CAROUSEL #}
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {%if headers|length >1 %}
      {% for key,header in headers %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{key}}" aria-label="{{header.title}}" 
        {% if key == 0 %} class="active" aria-current="true" 
        {% endif %}>
        </button>
      {% endfor %}
      {% endif %}
    </div>
    <div class="carousel-inner">
      {% for key, header in headers %}
        <div {% if key == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
          <img src="/uploads/header_carousel/{{ header.illustration }}" class="bd-placeholder-img" width="100%" height="100%" x/>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{ header.title }}</h1>
              <p class="opacity-75">{{ header.content }}</p>
              <p>
                <a class="btn btn-lg btn-primary" href="{{ header.buttonLink }}">{{ header.buttonTitle }}</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {# -----------------DRINK SHOP & BAR #}
  <div class="container">
  <article class="mt-5">
    <h1 class="main-titles text-center">Drink Bar & Shop in Vancouver</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit leo habitant, inceptos justo natoque arcu netus facilisis donec magnis sapien nisi, per amet consectetur adipiscing elit leo habitant.</p>

    <!-- BUTTON STORY -->
    <div class="text-center">
      <a href="" class="btn btn-outline mt-5">Story</a>
    </div>
  </article>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# -----------------VISIT TASTY DRINK #}
  <div class="row d-flex align-items-start justify-content-between mx-0">
    <article class="col-12 col-md-6 pt-lg-5">
      <h2 class="headers text-capitalize">Visit Tasty Drink</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
      <a href="" class="btn btn-outline mt-2 mb-5">Make Reservation</a>
    </article>
    <div class="col-12 col-md-6 p-0">
      <img class="img-fluid" src="{{ asset('assets/images/tasty_drink.jpeg') }}" alt="tasty drink building" />
    </div>
  </div>
  {#- --------------- STORE TASTY DRINK #}
  <div class="row d-flex align-items-start mx-0">
    <article class="col-12 col-md-6 order-md-2 pt-lg-5 px-5">
      <h2 class="headers text-capitalize">Store</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>

      <a href="" class="btn btn-outline mt-2 mb-5">Learn More</a>
    </article>
    <div class="col-12 col-md-6 p-0">
      <img src="{{ asset('assets/images/store.jpeg') }}" alt="" class="img-fluid" />
    </div>
  </div>
  {#- --------------- BAR TASTY DRINK #}
  <div class="row d-flex align-items-start mx-0">
    <article class="col-12 col-md-6 pt-lg-5">
      <h2 class="headers text-capitalize">Bar</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
      <a href="" class="btn btn-outline mt-2 mb-5 text-capitalize">Learn more</a>
    </article>
    <div class="col-12 col-md-6 p-0">
      <img src="{{ asset('assets/images/bar.jpeg') }}" alt="" class="img-fluid" />
    </div>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# --------------------------------- OUR SUGGESTIONS #}
  <section class="text-center mt-5 p-1 px-md-5">
    <h2 class="headers text-capitalize wrapper-max">Our suggestions</h2>
    <div class="wrapper info wrapper-max m-auto p-0">
      <div class="row d-flex align-items-center justify-content-between">

      {%for product in productSuggestions%}
        <div class="col-12 col-sm-6 col-md-4 my-2">
          <div class="product-card m-auto img-hover-zoom">
          <a href="{{ path('app_product', { slug: product.slug }) }}"> <img src="/uploads/products/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" /></a>
          </div>
        </div>
      {%endfor%}
     
      </div>

      {# button add basket #}
      <div class="col-12 text-center mt-5">
        <a href="{{path('app_shop')}}" class="btn btn-outline mt-2">See all products</a>
      </div>
    </div>
  </section>

  {# END PRODUCTS #}

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# -----------------OPENNING HOURS #}

  <section class="text-center mt-5">
    <h2 class="headers">Openning Hours</h2>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-0 col-sm-1col-lg-0 d-none"></div>
        <div class="col-0 col-lg-3 d-flex align-items-stretch p-0 border border-light">
          <img src="{{ asset('assets/images/open.jpeg') }}" alt="" class="img-fluid d-none d-lg-block" />
        </div>
        <article class="col-12 col-sm-5 col-lg-3 p-4 border border-light">
          <h3 class="sub-titles">Shop</h3>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
        </article>
        <article class="col-12 col-sm-5 col-lg-3 p-4 border border-light">
          <h3 class="sub-titles">Bar</h3>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
        </article>
        <div class="col-0 col-sm-1 col-lg-0 d-none"></div>
      </div>
    </div>
  </section>
  </div>

{% endblock %}
