{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Welcome
{% endblock %}

{% block carousel %}

{% endblock %}

{% block body %}
  {# -----------------DRINK SHOP & BAR #}

  <article class="mt-5">
    <h1 class="main-titles text-center">Drink Shop & Bar in Vancouver</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit leo habitant, inceptos justo natoque arcu netus facilisis donec magnis sapien nisi, per amet consectetur adipiscing elit leo habitant.</p>

    <!-- BUTTON STORY -->
    <div class="text-center">
      <a href="" class="btn btn-outline mt-5">Story</a>
    </div>
  </article>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# -----------------VISIT TASTY DRINK #}
  <div class="row d-flex align-items-start justify-content-between mx-0">
    <article class="col-12 col-md-6 pt-lg-5">
      <h2 class="headers text-capitalize">Visit Tasty Drink</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
      <a href="" class="btn btn-outline mt-2 mb-5">Make Reservation</a>
    </article>
    <div class="col-12 col-md-6 p-0">
      <img class="img-fluid" src="{{ asset('assets/images/tasty_drink.jpeg') }}" alt="tasty drink building" />
    </div>
  </div>
  {#- --------------- STORE TASTY DRINK #}
  <div class="row d-flex align-items-start mx-0">
    <article class="col-12 col-md-6 order-md-2 pt-lg-5 px-5">
      <h2 class="headers text-capitalize">Store</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>

      <a href="" class="btn btn-outline mt-2 mb-5">Learn More</a>
    </article>
    <div class="col-12 col-md-6 p-0">
      <img src="{{ asset('assets/images/store.jpeg') }}" alt="" class="img-fluid" />
    </div>
  </div>
  {#- --------------- BAR TASTY DRINK #}
  <div class="row d-flex align-items-start mx-0">
    <article class="col-12 col-md-6 pt-lg-5">
      <h2 class="headers text-capitalize">Bar</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
      <a href="" class="btn btn-outline mt-2 mb-5 text-capitalize">Learn more</a>
    </article>
    <div class="col-12 col-md-6 p-0">
      <img src="{{ asset('assets/images/bar.jpeg') }}" alt="" class="img-fluid" />
    </div>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# --------------------------------- NEW PRODUCTS #}
  <section class="text-center mt-5">
    <h2 class="headers text-capitalize wrapper-max">New products</h2>
    <div class="wrapper info wrapper-max m-auto">
      <div class="row gx-4 wrapper-max">
        <div class="col-12 col-sm-6 col-lg-4 my-2">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/new_products/cachaca2.jpeg') }}" alt="" class="img-fluid" />
            <div class="overlay">
              <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit quis hac, tempor urna primis sociis ridiculus neque ante nisl faucibus, magna donec nibh mus bibendum feugiat tincidunt vivamus.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/new_products/champagne.jpeg') }}" alt="" class="img-fluid" />
            <div class="overlay">
              <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit quis hac, tempor urna primis sociis ridiculus neque ante nisl faucibus, magna donec nibh mus bibendum feugiat tincidunt vivamus.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/new_products/calvados.jpeg') }}" alt="" class="img-fluid" />
            <div class="overlay">
              <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit quis hac, tempor urna primis sociis ridiculus neque ante nisl faucibus, magna donec nibh mus bibendum feugiat tincidunt vivamus.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/new_products/beer4.jpeg') }}" alt="" class="img-fluid" />
            <div class="overlay">
              <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit quis hac, tempor urna primis sociis ridiculus neque ante nisl faucibus, magna donec nibh mus bibendum feugiat tincidunt vivamus.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/new_products/wine.jpeg') }}" alt="" class="img-fluid" />
            <div class="overlay">
              <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit quis hac, tempor urna primis sociis ridiculus neque ante nisl faucibus, magna donec nibh mus bibendum feugiat tincidunt vivamus.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-2">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/new_products/tequila1.jpeg') }}" alt="" class="img-fluid" />
            <div class="overlay">
              <div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit quis hac, tempor urna primis sociis ridiculus neque ante nisl faucibus, magna donec nibh mus bibendum feugiat tincidunt vivamus.</div>
            </div>
          </div>
        </div>
      </div>

      {# button add basket #}
      <div class="col-12 text-center my-5">
        <a href="" class="btn btn-outline mt-2 mb-5">See our products</a>
      </div>
    </div>
  </section>

  {# END PRODUCTS #}

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# -----------------OPENNING HOURS #}

  <section class="text-center mt-5">
    <h2 class="headers">Openning Hours</h2>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-0 col-sm-1col-lg-0 d-none"></div>
        <div class="col-0 col-lg-3 d-flex align-items-stretch p-0 border border-light">
          <img src="{{ asset('assets/images/open.jpeg') }}" alt="" class="img-fluid d-none d-lg-block" />
        </div>
        <article class="col-12 col-sm-5 col-lg-3 p-4 border border-light">
          <h3 class="sub-titles">Shop</h3>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
        </article>
        <article class="col-12 col-sm-5 col-lg-3 p-4 border border-light">
          <h3 class="sub-titles">Bar</h3>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
          <p>Sunday 14h - 18h</p>
        </article>
        <div class="col-0 col-sm-1 col-lg-0 d-none"></div>
      </div>
    </div>
  </section>
{% endblock %}
