{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Menu Drinks
{% endblock %}

{% block meta_description %}Explore the diverse drink menu at Tasty Drink Bar & Shop in Vancouver. We offer a wide selection of beverages, including premium beers, exquisite champagnes, fine wines, handcrafted cocktails, and top-shelf whiskies. Whether you're a beer enthusiast, a wine lover, or a cocktail connoisseur, our expertly curated menu has something to satisfy every palate. Enjoy your favorite drinks in our stylish bar with mountain views, perfect for any occasion. Visit Tasty Drink Bar & Shop and indulge in the best drinks Vancouver has to offer.
{% endblock %}

{% block meta_keywords %}Tasty Drink Bar & Shop, Vancouver, drink menu, beer, champagne, wine, cocktails, whisky, cane liquor, gin, tequila, vodka.
{% endblock %}

{% block body %}
	{# HERO IMAGE  #}
	<div class="hero_bg">
		<img class="img-fluid" src="{{ asset('assets/images/menu_drink.jpg') }}" alt="tasty drink building" loading="lazy"/>
		<div class="hero_title">
			<span class="d-block p-0 m-0">The</span>
			<span>drinks</span>
		</div>
	</div>
	{# --------------------------------- foods container #}
	<div class="w-75 mx-auto">
		<div class="mt-5">
			<h1 class="headers text-capitalize text-center mt-5">Our menu drinks</h1>
			<p class="mt-5">Our meticulously curated menu of beer, wines, champagnes and  artisanal cocktails and spirits invites you to indulge in a symphony of taste and texture. At Tasty Drink Bar & Shop, every drink is crafted with passion and precision, promising an unforgettable experience with every sip.</p>
		</div>

		<div class="row mt-5">
			<div class="menu">
				<section
					class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">

					{# DRINKS  #}
					{% for categoryDrink in allDrinkCategories|sort((a, b) => a.name <=> b.name) %}

						{% if (categoryDrink.drinks|length) > 0 %}
							{# -----------DIVISOR #}
							<div class="divisor divisor-drink"></div>
							<h2 class="text-center mt-3 text-uppercase">{{categoryDrink.name}}</h2>

							<div class="d-flex flex-wrap align-items-center justify-content-center  gap-3">

								{% for  drink in categoryDrink.drinks %}
									{# -----------CARD #}
									<div class="card m-3 ">
										<div class="row g-0 bg-white">
											<div class="col-md-9">
												<div class="card-body">
													<h5 class="card-title text-capitalize">{{drink.name}}</h5>
													<div class="card-text menu-description my-3">{{ drink.description|raw }}</div>
													<div class="card-text">
														<h3 class="products-price text-end">{{drink.price|price}}</h3>
													</div>
												</div>
											</div>
											<div class="col-md-3 d-none d-md-block">
												<img src="/uploads/menu/{{ drink.illustration }}" class="img-fluid rounded" style="height: 100%;" alt="{{ drink.name }}" loading="lazy"/>
											</div>
										</div>
									</div>
									{%endfor%}
								</div>


							{% endif %}
						{% endfor %}
					</section>
				</div>
			</div>
		</div>
	{% endblock %}
