{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Menu Eats
{% endblock %}

{% block content %}
  {# --------------------------------- eats #}
  <div class="row mt-5">
    <div class="products">
      <section class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">
        {# -------appetizers #}
        <h2 class="text-center mt-3 mb-5 text-uppercase">Appetizers</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD BEER #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD BEER #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD appetizers #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD appetizers #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>

        {# -----------DIVISOR #}
        <div class="divisor divisor-drink"></div>

        {# -------chips #}
        <h2 class="text-center mt-3 mb-5 text-uppercase">Chips</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD chips #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD chips #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD chips #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD chips #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>

        {# -----------DIVISOR #}
        <div class="divisor divisor-drink"></div>

        {# -------desserts #}
        <h2 class="text-center mt-3 mb-5 text-capitalize">Desserts</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD desserts #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD desserts #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD desserts #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD wines #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <article class="card-body">
                  <h5 class="card-title text-capitalize">French fries</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </article>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/food.jpeg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
