{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Menu Foods
{% endblock %}

{% block meta_description %}Discover the delectable food menu at Tasty Drink Bar & Shop in Vancouver. Our menu features a variety of delicious options, including savory appetizers, crispy French fries, juicy hamburgers, fresh veggie plates, flavorful pasta, classic hot dogs, mouth-watering pizza, and indulgent desserts. Perfect for pairing with our premium drinks, our food offerings are designed to satisfy every craving. Whether you're enjoying a casual meal with friends or a family outing, our diverse menu ensures there's something for everyone. Visit Tasty Drink Bar & Shop and treat yourself to the best food in Vancouver.
{% endblock %}

{% block meta_keywords %}Tasty Drink Bar & Shop, Vancouver, food menu, appetizers, french fries, hamburgers, veggie plates, pasta, hot dogs, pizza, desserts.
{% endblock %}

{% block body %}
	{# HERO IMAGE  #}
	<div class="hero_bg">
		<img class="img-fluid" src="{{ asset('assets/images/menu_food.jpg') }}" alt="tasty drink building" loading="lazy"/>
		<div class="hero_title">
			<span class="d-block p-0 m-0">The</span>
			<span>Foods</span>
		</div>
	</div>
	{# --------------------------------- foods container #}
	<div class="w-75 mx-auto">
		<div class="mt-5">
			<h1 class="headers text-capitalize text-center mt-5">Our menu foods</h1>
			<p class="mt-5">Step into the inviting ambiance of Tasty Drink Bar & Shop, where the menu dances between luscious meats and vibrant vegetarian delights, each dish a masterpiece crafted to tantalize every palate.
			</p>
			<p>Pair these delectable dishes with their curated selection of fine wines or artisanal cocktails, and let each sip and bite transport you to a realm where taste meets elegance in perfect harmony.</p>
		</div>

		<div class="row mt-5">
			<div class="menu">
				<section
					class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">

					{# DRINKS  #}
					{% for categoryFood in allFoodCategories|sort((a, b) => a.orderAppear <=> b.orderAppear) %}
						{% if (categoryFood.food|length) > 0 %}
							{# -----------DIVISOR #}
							<div class="divisor divisor-drink"></div>
							<h2 class="text-center mt-3 text-uppercase">{{categoryFood.name}}</h2>
							<div class="d-flex flex-wrap justify-content-around">

								{% for  food in categoryFood.food %}


									{# -----------CARD #}
									<div class="card m-3">
										<div class="row g-0 bg-white">
											<div class="col-md-9">
												<div class="card-body">
													<h5 class="card-title text-capitalize">{{food.name}}</h5>
													<div class="card-text menu-description my-3">{{ food.description|raw }}</div>
													<div class="card-text">
														<h3 class="products-price text-end">{{food.price|price}}</h3>
													</div>
												</div>
											</div>
											<div class="col-md-3 d-none d-md-block">
												<img src="/uploads/menu/{{ food.illustration }}" class="img-fluid rounded" style="height: 100%;" alt="{{ food.name }}" loading="lazy"/>
											</div>
										</div>
									</div>
									{%endfor%}
								</div>

							{% endif %}
						{% endfor %}
					</section>
				</div>
			</div>
		</div>
	{% endblock %}
