{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Menu Drinks
{% endblock %}

{% block carousel %}

{% endblock %}

{% block content %}
  {# --------------------------------- drinks #}
  <div class="row mt-5">
    <div class="products">
      <section class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4 p-xl-5">
        {# -------BEERS #}
        <h2 class="text-center mt-3 mb-5 text-uppercase">Beers</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD BEER #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">Beer</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD BEER #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">Beer</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD BEER #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">Beer</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD BEER #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">Beer</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>

        {# -----------DIVISOR #}
        <div class="divisor divisor-drink"></div>

        {# -------CHAMPAGNES #}
        <h2 class="text-center mt-3 mb-5 text-uppercase">Champagnes</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD champagnes #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">champagne</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD champagnes #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">champagne</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD champagnes #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">champagne</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD champagnes #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">champagne</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>

        {# -----------DIVISOR #}
        <div class="divisor divisor-drink"></div>

        {# -------WINES #}
        <h2 class="text-center mt-3 mb-5 text-capitalize">Wines</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD wines #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">wines</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD wines #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">wines</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD wines #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">wines</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD wines #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">wines</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>

        {# -----------DIVISOR #}
        <div class="divisor divisor-drink"></div>

        {# -------COCKTAILS #}
        <h2 class="text-center mt-3 mb-5 text-capitalize">Cocktails</h2>
        <div class="row g-0 d-flex justify-content-center">
          {# -----------CARD cocktails #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">Cocktails</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD cocktails #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">cocktails</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD cocktails #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">cocktails</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
          {# -----------CARD cocktails #}
          <div class="card m-3 border-primary" style="max-width: 540px;">
            <div class="row g-0 bg-light">
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">cocktails</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="card-text">
                    <h3 class="products-price text-end">23,90€</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-2 d-none d-md-block">
                <img src="{{ asset('uploads/menu/beer.jpg') }}" class="img-fluid rounded" style="height: 100%;" alt="..." />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
