{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Welcome
{% endblock %}

{% block body %}
	{# -----------------DRINK SHOP & BAR #}
	<div class="container">

		<div class="mt-5">
			<h2 class="main-titles text-capitalize text-center">The Tasty Drink Bar</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipiscing elit leo habitant, inceptos justo natoque arcu netus facilisis donec magnis sapien nisi, per amet consectetur adipiscing elit leo habitant.</p>
			<p>Mattis integer cursus viverra sem sodales augue nascetur, quis faucibus magna mi lacus praesent ornare justo, feugiat quisque nibh tempus est leo. Pharetra iaculis lobortis duis pulvinar turpis donec imperdiet aliquet, dictumst dictum fames urna blandit conubia rutrum.</p>
		</div>

		{# -----------DIVISOR #}
		<div class="divisor divisor-lg"></div>

		{# -----------------INSIDE BAR #}
		<div class="row d-flex align-items-start mx-0">
			<div class="col-12 col-md-6 pt-lg-5">
				<h2 class="headers text-capitalize">Inside Bar</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
				<p>Mattis integer cursus viverra sem sodales augue nascetur, quis faucibus magna mi lacus praesent ornare justo, feugiat quisque nibh tempus est leo. Pharetra iaculis lobortis duis pulvinar turpis donec imperdiet aliquet, dictumst dictum fames urna blandit conubia rutrum,</p>

				{# ----------------BUTTON----------------- #}
				<a href="" class="btn btn-outline mt-2 mb-5">Make Reservation</a>
			</div>
			<div class="col-12 col-md-6 p-0">
				<img class="img-fluid" src="{{ asset('assets/images/inside_bar.jpeg') }}" alt="tasty drink building"/>
			</div>
		</div>
		{#- --------------- TERRACE #}
		<div class="row d-flex align-items-start mx-0">
			<div class="col-12 col-md-6 order-md-2 px-lg-5 pt-lg-5">
				<h2 class="headers text-capitalize">Terrace</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
				<p>Aturient taciti facilisi fermentum at sociis tincidunt, venenatis mollis iaculis eget curabitur cras. Metus curabitur pellentesque hac laoreet sollicitudin condimentum nibh penatibus nec scelerisque facilisi, torquent himenaeos nunc risus pretium eleifend conubia.</p>
			</div>
			<div class="col-12 col-md-6 p-0">
				<img src="{{ asset('assets/images/terrace.jpeg') }}" alt="" class="img-fluid"/>
			</div>
		</div>

		{# -----------DIVISOR #}
		<div class="divisor divisor-lg"></div>

		{# --------------------------------- OUR MENU #}
		<section class="text-center mt-5">
			<h2 class="headers text-capitalize">Our Menu</h2>
			<div class="wrapper wrapper-max info m-auto p-5">
				<div class="row d-flex justify-content-around justify-content-lg-center">
					<div class="col-9 col-lg-3 m-5 p-1">
						<div class="product-card m-auto">
							<img src="{{ asset('assets/images/menu_drinks.jpg') }}" alt="image of our drinks" class="img-fluid mx-auto" loading="lazy"/>
						</div>
						{# ----------------BUTTON----------------- #}
						<a href="{{path('app_menu_drinks')}} " class=" btn btn-outline mt-5 w-100">Menu Drinks</a>
					</div>
					<div class="col-9 col-lg-3 m-5 p-1">
						<div class="product-card m-auto">
							<img src="{{ asset('assets/images/menu_food.jpeg') }}" alt="image of our foods" class="img-fluid mx-auto" loading="lazy"/>
						</div>
						{# ----------------BUTTON----------------- #}
						<a href="{{path('app_menu_foods')}}" class="btn btn-outline mt-5 w-100">Menu Food</a>
					</div>
				</div>
				<a href="" class="mx-1 btn btn-outline-primary btn-signOut">Download our menu</a>
			</div>
		</section>
	</div>
{% endblock %}
