{% extends 'base.html.twig' %}
{% block title %}
	Tasty Drink - Our Story
{% endblock %}
{% block meta_description %}Discover the story behind Tasty Drink Bar & Shop in Vancouver. Inspired by a memorable vacation in Switzerland, Amanda and Lucas envisioned a unique concept where a bar and shop harmoniously coexist under one roof. During their travels, they noticed the absence of such a place and decided to create their own in the heart of Vancouver. Tasty Drink Bar & Shop offers meticulously crafted beverages and a curated selection of fine products, providing an experience of warmth and sophistication. Join us to indulge in our exceptional drinks and discover quality goods. Visit us today!
{% endblock %}

{% block meta_keywords %}Tasty Drink Bar & Shop, Vancouver, our story, bar and shop, quality products, unique concept, exceptional drinks and snacks.
{% endblock %}

{% block body %}

	{# HERO IMAGE  #}
	<div class="hero_bg">
		<img class="img-fluid" src="{{ asset('assets/images/our_story.jpg') }}" alt="tasty drink building" loading="lazy"/>
		<div class="hero_title">
			<span class="d-block p-0 m-0">Our</span>
			<span>Story</span>
		</div>
	</div>

	{# CONTAINER  #}
	<div
		class="w-75 mx-auto">
		{# -----------------AN IDEA IS BORN #}
		<section class="row gx-4 wrapper-max mt-5">
			<h1 class="headers text-capitalize text-center h2">an idea was born</h1>

			<div class="col-12 col-md-6 col-lg-8">
				<p class="pe-lg-3">During their memorable vacation in Switzerland, Amanda and Lucas embarked on a delightful journey exploring numerous bars and shops scattered across charming streets.
				</p>
				<p class="pe-lg-3">However, amidst their adventures, they noticed a distinct absence—a place where both a bar and a shop harmoniously coexisted under one roof. Inspired by this revelation and fueled by their passion for quality products, Amanda and Lucas envisioned a unique concept—a tantalizing drink bar and shop nestled in the heart of Vancouver. Here, connoisseurs and explorers alike could indulge in meticulously crafted beverages while perusing an array of curated goods, each selected for its exceptional quality and allure.
				</p>
				<p>Their dream was to create not just a place, but an experience—a haven where the art of crafting drinks meets the delight of discovering fine products, all within an ambiance of warmth and sophistication.</p>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<img class="img-fluid" src="{{ asset('assets/images/owerns.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				<div class="text-center">
					<p class="team-title p-1 m-0">Amanda and Lucas Atkinson</p>
					<p>
						Tasty Drink Owners</p>
				</div>
			</div>
		</section>

		{# -----------DIVISOR #}
		<div class="divisor divisor-lg"></div>

		{# -----------------STORE #}
		<section class="mt-5 wrapper-max mx-auto">
			<h2 class="headers text-capitalize text-center">Our Store</h2>

			<p>At Tasty Drink Bar & Shop, we pride ourselves not only on the quality of our beverages but also on our dedicated team of experts who are eager to assist every client with warmth and expertise. Whether you seek a rare vintage or a trendy new blend, our knowledgeable staff stands ready to guide you to the perfect selection.
			</p>
			<p>Come indulge in a world of taste and hospitality at Tasty Drink Bar & Shop, where every sip tells a story of craftsmanship and passion.</p>

			<div class="row gx-4 wrapper-max">
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/client01.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/wine_box.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/drinks.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/client_waitress.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
			</div>
			<!-- BUTTON our products -->
			<div class="text-center mt-5">
				<a href="{{path('app_products')}}" class="btn btn-outline text-capitalize">Our products</a>
			</div>
		</section>
		{# -----------DIVISOR #}
		<div class="divisor divisor-lg"></div>

		{# -----------------BAR #}
		<section class="mt-5">
			<h2 class="headers text-capitalize text-center">Our Bar</h2>
			<p>The bar, with its polished wood and softly glowing lights, exudes a cozy sophistication that invites intimate conversations over perfectly crafted cocktails. As you move through to the terrace, a tranquil oasis awaits, adorned with lush greenery and twinkling fairy lights that cast a gentle glow over the tables.
			</p>
			<p>Here, friends clink glasses, couples share stolen glances, and families unwind together amidst the harmonious blend of laughter and the subtle hum of contentment. Whether savoring a signature drink or indulging in a delightful meal, Tasty Drink effortlessly weaves an atmosphere where every moment is infused with joy and connection, making it a cherished destination for all who seek camaraderie and unforgettable experiences at Tasty Drink Bar & Shop.</p>

			<div class="row gx-4 wrapper-max">
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/inside.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/table_clients1.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/table_clients2.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
				<div class="col-12 col-sm-6 col-lg-3 my-3">
					<img class="img-fluid" src="{{ asset('assets/images/terrace.jpeg') }}" alt="tasty drink building" loading="lazy"/>
				</div>
			</div>
			<!-- BUTTON STORY -->
			<div class="text-center mt-5">
				<a href="{{path('app_our_bar')}}" class="btn btn-outline text-capitalize">Visit our bar</a>
			</div>
		</section>
		{# -----------DIVISOR #}
		<div class="divisor divisor-lg"></div>

		{# --------------------------------- GALLERY #}
		<section class="mt-5">
			<h2 class="headers text-capitalize wrapper-max text-center">Gallery</h2>
			<div class="wrapper info wrapper-max p-lg-5">
				<div class="row wrapper-max">
					<div class="col-12 col-sm-6 col-lg-4 my-2 p-md-3 p-xl-4">
						<div class="product-card m-auto">
							<img src="{{ asset('uploads/gallery/cachaca.jpeg') }}" alt="brazilian licor bottle" class="img-fluid rounded" loading="lazy"/>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 my-2 p-md-3 p-xl-4">
						<div class="product-card m-auto">
							<img src="{{ asset('uploads/gallery/box_wine.jpeg') }}" alt="a box with three wine bottle" class="img-fluid" loading="lazy"/>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 my-2 p-md-3 p-xl-4">
						<div class="product-card m-auto">
							<img src="{{ asset('uploads/gallery/wine_bottle.jpeg') }}" alt="a bottle of wine beside a beautiful box" class="img-fluid" loading="lazy"/>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 my-2 p-md-3 p-xl-4">
						<div class="product-card m-auto">
							<img src="{{ asset('uploads/gallery/pasta.jpeg') }}" alt="a special dishes of tasty drink bar and shop menu" class="img-fluid" loading="lazy"/>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 my-2 p-md-3 p-xl-4">
						<div class="product-card m-auto">
							<img src="{{ asset('uploads/gallery/drinks.jpeg') }}" alt="multiple glasses with different cocktails" class="img-fluid" loading="lazy"/>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 my-2 p-md-3 p-xl-4">
						<div class="product-card m-auto">
							<img src="{{ asset('uploads/gallery/cheese.jpeg') }}" alt="different cheeses over a table with a glass of beer" class="img-fluid" loading="lazy"/>
						</div>
					</div>
				</div>
			</div>
		</section>

		{# END GALLERY #}
	</div>
{% endblock %}
