{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Our Team
{% endblock %}

{% block body %}

	{# HERO IMAGE  #}
	<div class="hero_bg">
		<img class="img-fluid" src="{{ asset('assets/images/the_team.jpeg') }}" alt="tasty drink building"/>
		<div class="hero_title">
			<span class="d-block p-0 m-0">The</span>
			<span>Team</span>
		</div>
	</div>

	<div
		class="container">
		{# -----------------main title #}
		<section class="mt-5">
			<h2 class="main-titles text-capitalize text-center">Our team</h2>
			<p>Curae ridiculus vivamus volutpat mus magnis aliquam, placerat ut nulla torquent risus orci, donec dis convallis eget odio. Nisl suspendisse duis tempus tristique ultricies feugiat integer nulla aptent malesuada sociis est ac non et, laoreet conubia eu interdum quam urna convallis eget arcu rutrum auctor sagittis at aenean. Porttitor dapibus bibendum et mattis pharetra aliquam nibh, placerat scelerisque vel .</p>

			{# CATEGORY  #}
			{% for category in teamCategories|sort((a, b) => b.nameTeam <=> a.nameTeam) %}
				<h2 class="text-white text-center text-uppercase mt-5 mb-0">{{category.nameTeam}}
					team</h2>

				<div class="team-cards">
					<div class="row gx-4 mt-3">
						{% for employee in category.employees %}
							{% for  department in departments %}
								{% if employee.position == department.id  %}
									{% if employee.orderAppear == 1 %}
										<div class="d-block">
											<div class="col-12 col-sm-6 col-lg-3 mx-auto my-5">
												<img src="/uploads/team/{{ employee.illustration }}" alt="{{employee.firstName}}" class="img-fluid mx-auto"/>
												<div class="text-center p-3">
													<h4 class="team-title">{{employee.firstName}}
														{{employee.lastName}}</h4>
													<p>
														{{department.name}}</p>
												</div>
											</div>
										</div>
									{% endif %}
									{% if employee.orderAppear != 1 %}
										<div class="col-12 col-sm-6 col-lg-3 mx-auto my-5">
											<img src="/uploads/team/{{ employee.illustration }}" alt="{{employee.firstName}}" class="img-fluid mx-auto"/>
											<div class="text-center p-3">
												<h4 class="team-title">{{employee.firstName}}
													{{employee.lastName}}</h4>
												<p>
													{{department.name}}</p>
											</div>
										</div>
									{% endif %}
								{% endif %}

							{% endfor %}
						{% endfor %}
					</div>
				</div>
				{# -----------DIVISOR #}
				<div class="divisor divisor-lg"></div>
			{% endfor %}
		</section>
	{% endblock %}
