{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - Our Team
{% endblock %}

{% block content %}
  {# -----------------main title #}
  <article class="mt-5">
    <h2 class="main-titles my-3 text-capitalize text-center">Our team</h2>
    <p>Curae ridiculus vivamus volutpat mus magnis aliquam, placerat ut nulla torquent risus orci, donec dis convallis eget odio. Nisl suspendisse duis tempus tristique ultricies feugiat integer nulla aptent malesuada sociis est ac non et, laoreet conubia eu interdum quam urna convallis eget arcu rutrum auctor sagittis at aenean. Porttitor dapibus bibendum et mattis pharetra aliquam nibh, placerat scelerisque vel .</p>
  </article>

  {# -----------------store team #}
  <h3 class="text-white text-center white-titles text-uppercase mb-5">Store team</h3>
  <div class="team-cards">
    <div class="row gx-4 wrapper-max mt-3">
      <div class="col-12 col-sm-6 col-lg-3 mx-auto">
        <img src="{{ asset('uploads/team/abigail.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Abigail Miller</h4>
          <p>Store Manager</p>
        </article>
      </div>
    </div>

    <div class="row gx-4 wrapper-max mt-3">
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/marc_mccoy.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Marc McCoy</h4>
          <p>Salesman</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/amanda_anderson.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Amanda Anderson</h4>
          <p>Saleswoman</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/sergio_pires.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Sergio Pires</h4>
          <p>Salesman</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/pamela_smith.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Pamela Smith</h4>
          <p>Saleswoman</p>
        </article>
      </div>
    </div>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor w-25 mx-auto mt-5 mb-0"></div>

  {# -----------------bar team #}
  <h3 class="text-white text-center white-titles text-uppercase mb-5">Bar team</h3>
  <div class="team-cards">
    <div class="row gx-4 wrapper-max mt-3">
      <div class="col-12 col-sm-6 col-lg-3 mx-auto">
        <img src="{{ asset('uploads/team/kyoko_sanders.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Kyoko Sanders</h4>
          <p>Bar manager</p>
        </article>
      </div>
    </div>

    {#- ------------------------ CHEFS----------------- #}
    <div class="row gx-4 wrapper-max mt-3 d-flex justify-content-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/jorge_mcdonals.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Jorge McDonalds</h4>
          <p>Chef culinary</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/maria_sanchez.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Maria Sanchez</h4>
          <p>Chef dessert</p>
        </article>
      </div>
    </div>

    {#- ------------------------ WAITER/WAITRESS----------------- #}
    <div class="row gx-4 wrapper-max mt-3">
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/melissa_jackson.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Melissa Jackson</h4>
          <p>Waitress</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/pierre_dupont.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Pierre Dupont</h4>
          <p>Waiter</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/daisy_martin.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Daisy Martin</h4>
          <p>Waitress</p>
        </article>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img src="{{ asset('uploads/team/leonard_mccarter.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Leonard McCarter</h4>
          <p>Waiter</p>
        </article>
      </div>
    </div>

    {#- ------------------------ DRINKS/COCKTAILS ----------------- #}
    <div class="row gx-4 wrapper-max mt-3 d-flex justify-content-center">
      <div class="col-12 col-sm-3">
        <img src="{{ asset('uploads/team/sisters_gomes.jpeg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Paula and Sarah Gomes</h4>
          <p>Drink & Cocktails</p>
        </article>
      </div>
      <div class="col-12 col-sm-3">
        <img src="{{ asset('uploads/team/sergio_ramirez.jpg') }}" alt="" class="img-fluid mx-auto" />
        <article class="text-center p-3">
          <h4 class="team-title">Sergio Ramirez</h4>
          <p>Drink & Cocktails</p>
        </article>
      </div>
    </div>
  </div>
{% endblock %}
