{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Our Team
{% endblock %}

{% block body %}

	{# HERO IMAGE  #}
	<div class="hero_bg">
		<img class="img-fluid" src="{{ asset('assets/images/the_team.jpeg') }}" alt="tasty drink building" loading="lazy"/>
		<div class="hero_title">
			<span class="d-block p-0 m-0">The</span>
			<span>Team</span>
		</div>
	</div>

	<div
		class="w-75 mx-auto">
		{# -----------------main title #}
		<section class="mt-5">
			<h2 class="main-titles text-capitalize text-center">Our team</h2>
			<p>
				Our dedicated team at the bar crafts each drink with passion and precision, ensuring every sip is an experience worth savoring. Their expertise and friendly service make every visit a delightful indulgence.
			</p>
			<p>In our store, the team excels in providing personalized and attentive service, guiding you to find exactly what you need with a smile. Their commitment to quality ensures your shopping experience is both enjoyable and memorable.</p>

			{# CATEGORY  #}
			{% for category in teamCategories|sort((a, b) => b.nameTeam <=> a.nameTeam) %}
				<h2 class="text-white text-center text-uppercase mt-5 mb-0">{{category.nameTeam}}
					team</h2>

				<div class="team-cards">
					<div class="row gx-4 mt-3">
						{% for employee in category.employees %}
							{% for  department in departments %}
								{% if employee.position == department.id  %}
									{% if employee.orderAppear == 1 %}
										<div class="d-block">
											<div class="col-12 col-sm-6 col-lg-3 mx-auto my-5">
												<img src="/uploads/team/{{ employee.illustration }}" alt="{{employee.firstName}}" class="img-fluid mx-auto" loading="lazy"/>
												<div class="text-center p-3">
													<h4 class="team-title">{{employee.firstName}}
														{{employee.lastName}}</h4>
													<p>
														{{department.name}}</p>
												</div>
											</div>
										</div>
									{% endif %}
									{% if employee.orderAppear != 1 %}
										<div class="col-12 col-sm-6 col-lg-3 mx-auto my-5">
											<img src="/uploads/team/{{ employee.illustration }}" alt="{{employee.firstName}}" class="img-fluid mx-auto" loading="lazy"/>
											<div class="text-center p-3">
												<h4 class="team-title">{{employee.firstName}}
													{{employee.lastName}}</h4>
												<p>
													{{department.name}}</p>
											</div>
										</div>
									{% endif %}
								{% endif %}

							{% endfor %}
						{% endfor %}
					</div>
				</div>
				{# -----------DIVISOR #}
				<div class="divisor divisor-lg"></div>
			{% endfor %}
		</section>
	{% endblock %}
