{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink -
	{{ product.category }}
{% endblock %}

{% block body %}
	<div class="container">

		<div class="mt-5">
			<h1 class="main-titles text-center">{{ product.category.name }}</h1>
		</div>

		<div class="p-0 text-end">
			<a href="{{ path('app_shop') }}" class="back-to">
				<span>
					<i class="fa-solid fa-angles-left"></i>
				</span>
				Back to shop</a>
		</div>
		<div class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">
			{# {% include '_partials/flash.html.twig' %} #}
			{# -----------------breadcrump #}

				<div class="d-flex flex-wrap align-items-center justify-content-between"> <div class="mt-4 mb-1 mb-md-0 breadcrumbs">
					<div class="d-flex align-items-start justify-content-between mx-0">
						<nav class="p-0">
							<ul class="breadcrumb p-0">
								<li>
									<a href="{{ path('app_shop') }}">Shop</a>
								</li>
								<li>
									<a href="{{ path('app_category', { slug: product.category.slug }) }}">{{ product.category }}s</a>
								</li>
								<li class="text-capitalize">{{ product.name }}</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			{# --------------------------------- PRODUCT #}

			<div
				class="row">
				{# ------------DRINKS quantity and sort by #}
				<div
					class="products">
					{# -----------CARDS #}

					<div class="row gx-4 wrapper-max d-flex justify-content-center">
						{% include '_partials/_card-product-horizontal.html.twig' %}
					</div>
				</div>
			</div>

			{# -----------DIVISOR #}
			<div class="divisor divisor-lg"></div>

			{# --------------------------------- OUR SUGGESTIONS #}
			<section class="text-center mt-5 p-1 ">
				<h2 class="headers text-capitalize wrapper-max">Our suggestions</h2>
				<div class="wrapper info wrapper-max m-auto p-0 w-75">
					<div class="row d-flex align-items-center justify-content-between ">
						{% for product in productSuggestions %}
							<div class="col-12 col-sm-6 col-md-4 my-3 ">
								<div class="product-card m-auto img-hover-zoom rounded-1">
									<a href="{{ path('app_product', { slug: product.slug }) }}"><img src="/uploads/products/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid "/></a>
								</div>
							</div>
						{% endfor %}
					</div>

					{# button add basket #}
					<div class="col-12 text-center mt-5">
						<a href="{{ path('app_shop') }}" class="btn btn-outline mt-2">Find other products</a>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
