{% extends 'base.html.twig' %}

{% block title %}
  Tasty Drink - {{ category.name }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="mt-5">
      <h1 class="main-titles text-center">{{ category.name }}</h1>
    </div>
    <div class="p-0 text-end">
      <a href="{{ path('app_shop') }}" class="back-to"><span><i class="fa-solid fa-angles-left"></i></span> Back to shop</a>
    </div>
    <div class="wrapper info wrapper-max mt-3 p-4 p-sm-5">
      {# {% include '_partials/flash.html.twig' %} #}
      {# -----------------breadcrump and total products--------------- #}
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <div class="mt-4 mb-1 mb-md-0 breadcrumbs">
          <div class="d-flex align-items-start justify-content-between mx-0">
            <nav class="p-0">
              <ul class="breadcrumb p-0">
                <li>
                  <a href="{{ path('app_shop') }}">Shop</a>
                </li>
                <li>{{ category.name }}s</li>
              </ul>
            </nav>
          </div>
        </div>
        <p class="breadcrumb-paragraph m-0">Total of products : {{ category.products|length }}</p>
      </div>

      {# products #}
      <div class="row">
        {% for product in category.products %}
          {% include '_partials/_card-product.html.twig' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
