{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink -
	{{ category.name }}
{% endblock %}

{% block meta_description %}Discover the extensive drink selection at Tasty Drink Bar & Shop in Vancouver. We offer a premium range of alcoholic beverages including fine wines, craft beers, absinthe, gin, tequila, champagnes, cane liquor, vodka, rum, whisky, calvados, and cognac. Our curated collection ensures that every taste is catered to, whether you're a connoisseur of fine spirits or just looking for a perfect drink to unwind. Visit Tasty Drink Bar & Shop to explore our exceptional drink offerings and enjoy the best selection in Vancouver.
{% endblock %}

{% block meta_keywords %}Tasty Drink Bar & Shop, Vancouver, drink selection, wine, beer, absinthe, gin, tequila, champagne, cane liquor, vodka, rum, whisky, calvados, cognac.
{% endblock %}

{% block body %}
	<div class="w-75 mx-auto">
		<div class="mt-5">
			<h1 class="main-titles text-center mb-5">{{ category.name }}</h1>
		</div>

		<div class="wrapper info wrapper-max mt-3 p-sm-3 p-lg-4">
			<div class="d-flex flex-wrap align-items-center justify-content-between">
				<div class="mt-4 mb-1 mb-md-0 breadcrumbs d-flex align-items-start justify-content-between w-100">
					<div class=" mx-0">
						<nav class="p-0">
							<ul class="breadcrumb p-0">
								<li>
									<a href="{{ path('app_products') }}">All products</a>
								</li>
								<li>{{ category.name }}</li>
							</ul>
						</nav>
					</div>
					<p class="breadcrumb-paragraph m-0">Total of products :
						{{ category.products|length }}</p>
				</div>

				{# products #}
				<div class="row d-flex justify-content-center mx-auto products">
					{% for product in category.products %}
						{% include '_partials/_card-product.html.twig' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
