{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Reservation
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mt-5">
			<h1 class="headers text-capitalize text-center mt-5">My account</h1>
		</div>
		<div class="wrapper account">
			<div class="row p-2">
				<div class="col-md-12 col-lg-3 mb-3">
					{% include 'account/_menu.html.twig' %}
				</div>
				<div class="col-md-12 col-lg-9 px-4 py-2 bg-light rounded">
					<h2 class="text-center text-black mt-3 mb-5">Modify my reservation</h2>

					{{ form_start(reservationForm) }}
					<div class="row d-flex">
						<div class="col-12 col-md-6">{{ form_row(reservationForm.firstname) }}</div>
						<div class="col-12 col-md-6">{{ form_row(reservationForm.lastname) }}</div>
						<div class="col-12 col-md-6">{{ form_row(reservationForm.telephone) }}</div>
						<div class="col-12 col-md-6">{{ form_row(reservationForm.numberOfPeople) }}</div>
						<div class="col-12 col-md-6">{{ form_row(reservationForm.reservationDate) }}</div>
						<div class="col-12 col-md-6 text-black py-0">{{ form_row(reservationForm.reservationTime) }}</div>
						<div class="col-12 ">{{ form_row(reservationForm.comments) }}</div>
					</div>
					<div class="text-center">
						<button type="submit" href="#" class="btn btn-primary btn-link my-4 text-capitalize w-50">Modify</button>
					</div>
					{{ form_end(reservationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
