{# layout to show detail orders on easyadmin #}
{% extends '@!EasyAdmin/layout.html.twig' %}
{% block main %}
	<h2>Act on the orders</h2>

	{# verify order state to show the link or not #}
	{% if order.state != 1 %}
		{# link to url order with the state  #}
		<a href="{{current_url}}&state=3" class="{% if order.state == 3 %}d-none{% endif %} p-1 bg-info bg-opacity-10 border border-info rounded me-2 text-black">Order in progress</a>
		<a href="{{current_url}}&state=4" class="{% if order.state == 4 %}d-none{% endif %} p-1 bg-info bg-opacity-10 border border-info rounded me-2 text-black">Order shipped</a>
		<a href="{{current_url}}&state=5" class="{% if order.state == 5 %}d-none{% endif %} p-1 bg-info bg-opacity-10 border border-info rounded me-2 text-black">Order canceled</a>
	{% else %}
		<p class="fw-semibold">You cannot act on an unpaid order.</p>
	{% endif %}
	<hr>
	<div class="text-end">
		<a class="btn btn-success" href="{{path('app_invoice_admin',{id_order:order.id})}}" target="_blank">Show/Print order</a>
	</div>
	<p class="h4">Order n#{{ order.id }}
		{# field is inside of state.html.twig #}
		<span class="ms-4">{{ include('admin/state.html.twig', { field: { value: order.state } }) }}</span>
	</p>

	<p>
		<strong>Date of your order:</strong>
		{{ order.createdAt|date('d/m/Y') }}
	</p>
	<p>Stripe session id :
		{{ order.stripeSessionId }}</p>

	<div class="row">
		<div class="col-md-6">
			<h5>Delivery address:</h5>
			<p>{{ order.delivery|raw }}</p>
		</div>
		<div class="col-md-6">
			<h5>Carrier:</h5>
			<p>{{ order.carrierName|raw }}</p>
		</div>
	</div>
	<hr/>
	<h5>Order content:</h5>
	<div style="overflow-x:auto;">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Image</th>
					<th scope="col">Name of product</th>
					<th scope="col">Quantity</th>
					<th scope="col">Unitary price Ex.T.</th>
					<th scope="col">Tax</th>
					<th scope="col">Total VAT</th>
				</tr>
			</thead>
			<tbody>
				{% for product in order.orderDetails %}
					<tr>
						<td>
							<img src="/uploads/products/{{ product.productIllustration }}" alt="{{ product.productName }}" width="100"/>
						</td>
						<td>{{ product.productName }}</td>
						<td>{{ product.productQuantity }}</td>
						<td>{{ product.productPrice|price }}</td>
						<td>{{ product.productTva }}%</td>
						{% set coeff = 1 + product.productTva / 100 %}
						<td>{{ (product.productPrice * coeff * product.productQuantity)|price }}</td>
					</tr>
				{% endfor %}
				<tr>
					<td>
						<strong>Carrier company</strong>
					</td>
					<td>{{ order.carrierName }}</td>
					<td></td>
					<td></td>
					<td></td>
					<td>{{ order.carrierPrice|price }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-end fs-5 me-5">
		<strong>Total Ex.T.:</strong>
		${{ order.totalWt - order.totalTva }}
		<br/>
		<strong>Tax:</strong>
		{{ order.totalTva }}%<br/>
		<strong>Total VAT:</strong>
		${{ order.totalWt }}
		<br/>
	</div>
{% endblock %}
