{% extends 'base.html.twig' %}

{% block carousel %}

{% endblock %}

{% block content %}
  {# -----------------OUR STORY #}

  <div class="row d-flex align-items-start justify-content-between mx-0 my-5">
    <div class="col-12 col-sm-6 col-md-8">
      <h2 class="headers my-3 text-capitalize">an idea is born</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatum architecto. Corrupti porro vero saepe quaerat alias quidem assumenda nesciunt.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde nam accusamus perferendis similique, iure, hic sint illum, est tempora fugit dolores ex. Aliquid sed sint fuga doloribus esse culpa sunt laborum minima reiciendis voluptatibus hic dicta iusto tenetur provident dolorem necessitatibus accusantium ipsam delectus, eligendi distinctio illum! Repudiandae, temporibus.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde nam accusamus perferendis similique, iure, hic sint illum, est tempora fugit dolores ex. Aliquid sed sint fuga doloribus esse culpa sunt laborum minima reiciendis voluptatibus hic dicta iusto tenetur provident dolorem necessitatibus accusantium ipsam delectus, eligendi distinctio illum! Repudiandae, temporibus.</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 p-0">
      <img class="img-fluid" src="{{ asset('build/images/owerns.jpeg') }}" alt="tasty drink building" />
    </div>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# -----------------STORE #}

  <div class="text-center mt-5">
    <h2 class="headers my-3 text-capitalize">Our Store</h2>
    <p class="main-titles-paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit leo habitant, inceptos justo natoque arcu netus facilisis donec magnis sapien nisi, per amet consectetur adipiscing elit leo habitant.</p>
  </div>

  <div class="row mt-0 mt-lg-5 g-4 g-lg-5 m-auto wrapper-store">
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/client01.jpeg') }}" alt="tasty drink building" />
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/wine_box.jpeg') }}" alt="tasty drink building" />
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/drinks.jpeg') }}" alt="tasty drink building" />
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/client_waitress.jpeg') }}" alt="tasty drink building" />
    </div>
  </div>
  <!-- BUTTON STORY -->
  <div class="text-center mt-5">
    <a href="" class="btn btn-outline text-capitalize">Our Products</a>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# -----------------BAR #}

  <div class="text-center mt-5">
    <h2 class="headers my-3 text-capitalize">Our Bar</h2>
    <p class="main-titles-paragraph">Lorem ipsum dolor sit amet consectetur adipiscing elit leo habitant, inceptos justo natoque arcu netus facilisis donec magnis sapien nisi, per amet consectetur adipiscing elit leo habitant.</p>
  </div>

  <div class="row mt-0 mt-lg-5 g-4 g-lg-5 m-auto wrapper-store">
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/inside.jpeg') }}" alt="tasty drink building" />
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/table_clients1.jpeg') }}" alt="tasty drink building" />
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/table_clients2.jpeg') }}" alt="tasty drink building" />
    </div>
    <div class="col-12 col-sm-6">
      <img class="img-fluid" src="{{ asset('build/images/terrace.jpeg') }}" alt="tasty drink building" />
    </div>
  </div>
  <!-- BUTTON STORY -->
  <div class="text-center mt-5">
    <a href="" class="btn btn-outline text-capitalize">The bar</a>
  </div>

  {# -----------DIVISOR #}
  <div class="divisor divisor-lg"></div>

  {# --------------------------------- GALLERY #}
  <div class="text-center mt-5">
    <h2 class="headers my-3 text-capitalize">Gallery</h2>
    <div class="wrapper info">
      <div class="row gx-5">
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/cachaca.jpeg') }}" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/box_wine.jpeg') }}" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/wine_bottle.jpeg') }}" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/pasta.jpeg') }}" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/drinks.jpeg') }}" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 my-3">
          <div class="product-card m-auto">
            <img src="{{ asset('uploads/cheese.jpeg') }}" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {# END PRODUCTS #}
{% endblock %}
