{% extends 'base.html.twig' %}

{% block title %}
	Tasty Drink - Order
{% endblock %}

{% block body %}
	<div class="container">
		<div class="mt-5">
			<h1 class="main-titles text-center">Your order</h1>
		</div>

		<div class="row bg-info products d-flex justify-content-between p-5">
			<p class="text-white text-center mt-3">Choose your preferences before placing your order on Tasty Drink.</p>
			<p class="text-white text-center mb-5"></p>
			<div class="col-12 col-lg-8 text-dark">
				<p class="text-white text-center text-uppercase my-3">Order</p>
				<div
					class="cards bg-light rounded p-5">
					{# -----------CARD #}
					{% for product in cart %}
						<div
							class="row d-flex my-3 bg-white p-3 rounded shadow-sm">
							{# product #}
							<div class="col-6 col-md-6 d-flex flex-column flex-sm-row align-items-start justify-content-start">
								<img src="/uploads/products/{{ product.object.illustration }}" alt="{{ product.object.name }}" class="img-fluid" style="width:80px; height:80px"/>
								<div class="card-product my-2 my-sm-0 mx-sm-4">
									<h2 class="card-title text-uppercase text-start">{{ product.object.name }}</h2>
									<p>
										<strong>Unit price:
											{{ product.object.pricewt|price }}</strong>
									</p>
								</div>
							</div>
							{# quantity and price #}
							<div
								class="col-6 col-md-6 d-flex flex-column flex-sm-row justify-content-between">
								{# quantity #}
								<div class="fs-4 fw-bold">x
									{{ product.qty }}</div>

								{# price #}
								<div class="products-price text-end">
									<span class="card-price">{{ (product.object.pricewt * product.qty)|price }}</span>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			{# ------------total #}
			<div class="col-12 col-lg-4 mt-4 mt-lg-0 account">
				<p class="text-white text-center text-uppercase my-3">Delivery information</p>
				{# card address #}
				<div class="wrapper info wrapper-max m-0 mb-3 border border-primary rounded">
					<div class="text-end mb-1">
						<a href="{{ path('app_account_address_form') }}" class="btn-block btn btn-outline-info bg-info mx-auto btn btn-link my-2 text-white">Add new address</a>
					</div>
					{# FORM #}
					<div class="wrapper-max">
						{{ form_start(deliveryForm) }}
						<div>{{ form_row(deliveryForm.addresses) }}</div>
						<hr class="divison-line my-3"/>
						<div>{{ form_row(deliveryForm.carriers) }}</div>
						{{ form_end(deliveryForm) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
